<import-sjs name="INPUT_QUANTITY_SIZES" from="/components/input-quantity/input-quantity-constants.sjs"></import-sjs>
<view class="form-group">
  <view class="input-quantity {{className}} {{size==INPUT_QUANTITY_SIZES.REGULAR?'input-qty--regular': 'input-qty--thin'}}">
    <image mode="aspectFill" src="../../assets/icons/add-item.svg" class="quantity-icon" onTap="onClickAddQuantity" />
    <text id="quantity-value" class="h1 text--color-primary">{{value ? value : quantity}}</text>
    <image mode="aspectFill" src="../../assets/icons/subtract.svg" class="quantity-icon" onTap="onClickMinusQuantity" />
  </view>
</view>